<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Регистрация', registration_path if !current_user %>
<%= link_to 'Вход', login_path if !current_user %>
<%= current_user.name if current_user %>
<%= link_to 'Выйти', sessions_logout_path if current_user %>

<%= yield %>

</body>
</html>
